In [2]:
import os
import pandas as pd

In [3]:
def extract(df, pos, cols, addts):
    df = df.iloc[[pos]][cols]
    for key, val in addts.items():
        df[key] = [val]
    return df

In [4]:
def get_files_dfs(rootdir, csv_name, columns):
    dfs = []
    _, dirs, _ = next(os.walk(rootdir))
    for dir in dirs:
        loopdir = "{}/{}".format(rootdir, dir)
        _, programs, _ = next(os.walk(loopdir))
        for program in programs:
            filename = program.split(".c")[0] + ".c"
            program_dir = "{}/{}".format(loopdir, program)
            _, _, files = next(os.walk(program_dir))
            for file in files:
                if csv_name in file:
                    file_dir = "{}/{}".format(program_dir, file)
                    file_df = pd.read_csv(file_dir)
                    try:
                        dfs.append(extract(file_df, 5, columns, {'Loops': dir}))
                    except:
                        dfs.append(extract(file_df, 0, columns, {'Loops': dir}))
                    break
    return dfs

In [5]:
columns = ['Unnamed: 0', 'Inputfiles', 'AnalysisResult', 'Runtime (ns)', 'Peak memory consumption (bytes)']
df = pd.concat(get_files_dfs("530k-seed", "Csv-Benchmark", columns))

In [6]:
pd.crosstab(df['Loops'], df['AnalysisResult'].fillna(0))

AnalysisResult,CORRECT,ERROR,INCORRECT,NORESULT,SYNTAXERROR,TIMEOUT,UNPROVABLE
Loops,,,,,,,
0,58676,118,17,2904,12,414,5
1,4211,128,528,143,12,2014,195
2,107,26,35,19,2,587,16
3,1,2,0,1,0,107,1
4,0,0,2,0,0,20,0
5,0,0,0,0,0,3,0
6,0,0,0,0,0,2,0